[GdmGreeterTheme]
Encoding=UTF-8
Greeter=gdm.xml
Name=Arch Sexy
Description=Google searched "Arch Sexy Wallpaper" - code base from Arch Linux Simply Black.
Author=see credits.txt
Copyright=see credits.txt
Screenshot=screenshot.png
